<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_imobilier_sn_root" name="Imobilier SN" sequence="40"/>

    <menuitem
        id="menu_imobilier_sn_dashboard"
        name="Tableau de bord"
        parent="menu_imobilier_sn_root"
        action="action_imobilier_sn_dashboard"
        sequence="1"
    />

    <!-- Produits -->
    <menuitem
        id="menu_imobilier_sn_products"
        name="Produit"
        parent="menu_imobilier_sn_root"
        sequence="10"
    />

    <menuitem
        id="menu_imobilier_sn_product_apartment"
        name="Appartement"
        parent="menu_imobilier_sn_products"
        action="action_imobilier_sn_product_apartment"
        sequence="11"
    />
    <menuitem
        id="menu_imobilier_sn_product_house"
        name="Maison entière"
        parent="menu_imobilier_sn_products"
        action="action_imobilier_sn_product_house"
        sequence="12"
    />
    <menuitem
        id="menu_imobilier_sn_product_shop"
        name="Magasin"
        parent="menu_imobilier_sn_products"
        action="action_imobilier_sn_product_shop"
        sequence="13"
    />
    <menuitem
        id="menu_imobilier_sn_product_land"
        name="Terrain"
        parent="menu_imobilier_sn_products"
        action="action_imobilier_sn_product_land"
        sequence="14"
    />

    <!-- Locations -->
    <menuitem
        id="menu_imobilier_sn_location"
        name="LOCATION"
        parent="menu_imobilier_sn_root"
        sequence="20"
    />

    <menuitem
        id="menu_imobilier_sn_rents_due"
        name="À payer"
        parent="menu_imobilier_sn_location"
        action="action_imobilier_sn_rents_due"
        sequence="21"
    />
    <menuitem
        id="menu_imobilier_sn_rents_paid"
        name="Payées"
        parent="menu_imobilier_sn_location"
        action="action_imobilier_sn_rents_paid"
        sequence="22"
    />

    <menuitem
        id="menu_imobilier_sn_addresses"
        name="Référentiel des adresses"
        parent="menu_imobilier_sn_root"
        action="action_imobilier_sn_address"
        sequence="70"
    />

    <menuitem
        id="menu_imobilier_sn_contracts"
        name="Contrats"
        parent="menu_imobilier_sn_root"
        action="action_imobilier_sn_contract"
        sequence="30"
    />
    <menuitem
        id="menu_imobilier_sn_assignments"
        name="Courtiers / Affectations"
        parent="menu_imobilier_sn_root"
        action="action_imobilier_sn_assignment"
        sequence="40"
    />
    <menuitem
        id="menu_imobilier_sn_inspections"
        name="États des lieux"
        parent="menu_imobilier_sn_root"
        action="action_imobilier_sn_inspection"
        sequence="50"
    />
    <menuitem
        id="menu_imobilier_sn_tenants"
        name="Dossiers locataires"
        parent="menu_imobilier_sn_root"
        action="action_imobilier_sn_tenant"
        sequence="60"
    />
</odoo>
